<div id="<%= dom_id csv_upload %>">
  <h2 class="govuk-heading-m">

    <%= csv_upload.title %>
  </h2>
  <h3 class="govuk-heading-s">Progress</h3>
  <ul class="govuk-list govuk-list--bullet">
    <li>Starting import job...</li>
    <% csv_upload.filtered_csv_processing_messages.each do |msg| %>
    <li data-created-at="<%= msg.created_at %>" data-message-id="<%= msg.id %>"><%= msg.body %></li>
    <% end %>
  </ul>
  <h3 class="govuk-heading-s">Attached files</h3>
  <ul class="govuk-list govuk-list--bullet">
    <% csv_upload.csv_files.each do |csv| %>
       <li><%= link_to csv.filename, csv %></li>
    <% end %>
  </ul>
  </p>
</div>