<div id="<%= dom_id csv_upload %>" data-controller="csv-processing-messages">
  <p class="govuk-body">
    <strong>Title:</strong>
    <%= csv_upload.title %>
  </p>
  <p>
    <strong>Latest message:</strong>
    <ul data-csv-processing-messages-target="messages">
    <% csv_upload.csv_processing_messages.each do |msg| %>
      <li data-message-id="<%= msg.id %>"><%= msg.body %></li>
    <% end %>
    </ul>
  </p>
  <p>Files:
  <ul>
    <% csv_upload.csv_files.each do |csv| %>
       <li><%= link_to csv.filename, csv %></li>
    <% end %>
  </ul>
  </p>
</div>

