<% content_for :page_title do %>
  Sign up - <%= t('page_title') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Sign up
    </h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="govuk-form-group">
        <div class="field">
          <%= f.label :email, class: "govuk-label govuk-!-margin-top-8", for: "width-30"%>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "govuk-input govuk-input--width-30", value: params[:email] %>
        </div>
        <div class="field">
          <%= f.label :password, class: "govuk-label govuk-!-margin-top-8", for: "width-30"%>
          <%= f.password_field :password, class: "govuk-input govuk-input--width-30", value: params[:email] %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation, class: "govuk-label govuk-!-margin-top-8", for: "width-30"%>
          <%= f.password_field :password_confirmation, class: "govuk-input govuk-input--width-30", value: params[:email] %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit "Create account", class: "govuk-button" %>
      </div>
    <% end %>

    <p class="govuk-body govuk-!-margin-top-8">
      <%= render "devise/shared/links" %>
    </p>

  </div>
</div>