
<h1 class="govuk-heading-xl">Planning Register</h1>
 <p class="govuk-body">This service allows ...</p>

<% if user_signed_in? %> 
 <h2 class="govuk-heading-l"> Welcome <%= current_user.email %> </h2> 

 <p class="govuk-body"><%= link_to "Upload a CSV", csv_uploads %></p>

 <div class="actions">
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'govuk-button' %> 
 </div>
<% else %>
  <p class="govuk-body"><%= link_to "Sign in", new_user_session_path %></p>
  <p class="govuk-body"><%= link_to "Upload a CSV", csv_uploads_url %></p>
<% end %>

